<div class="form-group">
    <select id="select-variacoes" name="vid" class="form-control form-control-lg">
        <option data-preco="{{ variacao.preco_promocional|formata_preco }}"
            data-preco-promocional="{{ variacao.preco|formata_preco }}" value="{{ variacao.id }}">{{ variacao }}
        </option>
        <option data-preco="{{ variacao.preco|formata_preco }}" value="{{ variacao.id }}">
            {{ variacao }}
        </option>
    </select>
</div>








{% extends 'base.html' %}
{% load my_filters %}
{% block titulo %} {{variacao.nome}} {% endblock %}
{% block conteudo %}

<div class="row">
    <div class="col-lg-3">

        <h2 class="my-4">Categorias</h2>
        <div class="list-group">
            {% for categoria in categorias %}
            <a href="#" class="list-group-item">{{categoria.nome_cat}}</a>
            {% endfor %}
        </div>

    </div>

    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg">
                <div class="row no-gutters">
                    <div class="col-lg-12">
                        <img class="img-fluid" src="{{ variacao.imagem.url }}">
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="mt-4 mt-lg-0">
                    <h1 class="h2">{{ variacao.nome }}</h1>
                    <p class="lead">{{ variacao.produto.descricao_curta|linebreaks }}</p>
                    <p class="lead">
                        <span id="variation-preco" class="lead product-price">
                            {{ variacao.preco|formata_preco }}
                        </span>
                        <span id="variation-preco-promocional" class="lead product-old-price text-muted">
                            {{ variacao.preco|formata_preco }}</span>
                        <span id="variation-preco" class="lead product-price">
                            {{ variacao.preco|formata_preco}} </span>
                    </p>
                    {% for var in variacoes %}
                    <form action="{% url 'produto:adicionaraocarrinho' %}" id="form-add-to-cart">
                        <div class="form-group">
                            <select id="select-variacoes" name="vid" class="form-control form-control-lg">
                                {% if variacao.desconto_var %}
                                <option data-preco="{{ var.preco|formata_preco }}"
                                    data-preco-promocional="{{ var.preco|formata_preco }}" value="{{ var.id }}">
                                    {{ var }}
                                </option>
                                {% else %}
                                <option data-preco="{{ var.preco|formata_preco }}" value="{{ var.id }}">
                                    {{ var }}
                                </option>
                                {% endif %}
                            </select>
                        </div>
                        {%endfor%}
                        <div class="text-left">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Adicionar ao carrinho
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-lg"><br>
                                <a class="btn btn-lg btn-block btn-primary" href="{% url 'produto:carrinho'%}">
                                    Fechar pedido
                                </a>
                            </div>
                        </div>


                    </form>


                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="mt-5 mb-5">
                    <h2 class="text-center">{{ variacao.nome }}</h2>
                    {{ variacao.descricao_longa|safe }}
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}